body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #ffcc00;
    color: #003A70;
    padding: 10px 0;
}

#search-container {
    margin: 20px;
}

#pokemon-info {
    margin-top: 20px;
}

/* 既存のスタイルの後に追加 */

#nav-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-info {
    margin: 0 20px; /* ポケモン情報と矢印の間隔を調整 */
}

#prev-pokemon, #next-pokemon {
    cursor: pointer; /* ホバー時にカーソルをポインターに */
    /* その他のボタンのスタイリング、例えばサイズや背景色など */
}

#pokemonStatsChart {
    max-width: 400px; /* または適切なサイズに調整 */
    margin: 20px auto; /* グラフのマージンを調整 */
}

/* 既存のスタイルはそのままにします */

#pokemon-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 他の必要なスタイリング */
